body{
    margin-top: 0px;
    padding-top: 0px;
}

#backg1{
    height: 700px;
    width: 1320px;
    background-image: url("backgimg1.jpg");
    background-size: cover; 
    text-align: center;
}
#backg1 a{
    color: white;
    text-decoration: none;
    font-size: large;
}
#backg1 p{
    color: white;
}
.navbar{
    height: 100px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.904);
    color: beige;
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    height: 100px;
    width: 100px;
    background-image: url("logorr.png");
    background-size: cover;
}

#backg2{
    margin-top: 0px;
    height: 700px;
    width: 1320px;
    background-color: black;
    margin-bottom: 0px;
}

.nav-backg2{
    height: 100px;
    width: auto;
    background-color: black;
    color: bisque;
    text-align: center;
    padding-top: 5px;
}

.cars{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box-content{
    height: 400px;
    width: 400px;
    margin-top: 15px;
}

.box-img1{
    height: 400px;
    background-size: cover;
}
.box-img2{
    height: 400px;
    background-size: cover;
}
.box-img3{
    height: 400px;
    background-size: cover;
}

.box-content p {
    color: azure;
}

.foot-panel {
    background-color: black;
    color: white;
    height: 250px;
    margin-top: 0px;
}
.foot-panel1 {
    height: 70px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.911);
    border-bottom: 0.4px solid white;
}

.foot-panel2 {
    height: 150px;
    border-bottom: 0.4px solid white;
}

.links {
    display: flex;
    justify-content: space-evenly;
}
.links a{
    display: block;
    margin-top: 20px;
}


